{% extends 'dou/base.html' %}

{% load static %}
{% block title %}<title>Books</title>{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href={% static 'css/dou-book.css' %}>{% endblock %}

{% block content %}
    <div class="page-background">

        <div class="container-fluid mt-0">
            <div id="pages-container" class="d-flex flex-wrap justify-content-around">
                {% if book %}
                    {% for page in book.pages.all %}
                        <div id="{{ page.id }}" class="card m-2 bg-light" style="width: 13rem;">
                            <div class="card-hover-area">
                                <div class="card-img-frame">
                                    <a href="#">
                                        <img class="card-img-top" src={{ page.page_thumb_lg.url }}>
                                    </a>
                                </div>
                                <div class="card-footer p-0">
                                    <div class="row">
                                        <div class="col text-left ">
                                            <p class="card-title ml-2 mr-2 mt-1 mb-1 font-weight-normal text-uppercase text-truncate">
                                                Page {{ page.page_number }}
                                            </p>
                                        </div>
                                        <div class="col text-right">
                                            <button type="button" class="btn btn-card btn-sm p-1"><span
                                                    class="fas fa-ellipsis-v fa-s"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No pages are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script>
        $(window).on('load', function () {
            $.ajax({
                url: '',
                type: 'POST',
                data: {
                    'book_id': '{{ book.id }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    let cards = '';
                    data.pages.forEach(page => {
                        //cards += '<div id="carder" class="card m-2 bg-light" style="width: 12rem;"><div class="card-hover-area"><div class="card-img-frame"><a href="#"><img class="card-img-top" src="' + '/media/' + page.page_thumb_lg + '"></a></div><div class="card-footer p-0"><div class="row"><div class="col text-left "><p class="card-title ml-2 font-weight-normal text-truncate">Page ' + page.page_number + '</p></div><div class="col text-right"><button type="button" class="btn btn-card btn-sm p-1"><span class="fas fa-ellipsis-v fa-s"></span></button></div></div></div></div></div>'
                    });

                    $('#pages-container').append(cards);
                }
            });
        });


    </script>
{% endblock %}