{% extends 'dou/base.html' %}

{% load static %}
{% block title %}<title>Book</title>{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href={% static 'css/dou-book.css' %}>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url({{ book.cover_thumb_lg.url }});
        }

        .txt-title {
            font-size: 70px;
        }

        .txt-subtitle {
            font-size: 38px;
        }

        .header-bg {
            background-color: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(20px);
        }

        .header-body {
            border-width: 5px;
            border-color: #7FBDFF;
            background-color: #007BFF;
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
        }

        #header-title {
            height: 175px;
            margin-right: 5%;
            border-top-right-radius: 270px;
            border-bottom-right-radius: 270px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
        }

        #header-meta {
            height: 250px;
            margin-left: 10%;
            border-top-left-radius: 270px;
            border-bottom-left-radius: 270px;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-style: solid;
        }

        #header-extra {
            height: 75px;
            margin-right: 15%;
            border-top-right-radius: 270px;
            border-bottom-right-radius: 270px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
        }

        .body-bg {
            background-color: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(40px);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="header-bg container-fluid pt-2 pb-2">
        <div class="row mb-2">
            <div id="header-title" class="header-body col-11 my-auto pt-2 pb-2">
                <h1 class="txt-title text-light font-weight-normal text-uppercase text-truncate">
                    {{ book.name_en|default_if_none:"N/A" }}
                </h1>
                <h3 class="txt-subtitle text-light font-weight-normal text-uppercase text-truncate">
                    {{ book.name_jp|default_if_none:"N/A" }}
                </h3>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-1"></div>
            <div id="header-meta" class="header-body col-11 my-auto pt-3 pb-3">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Released:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.released|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Anthology:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.is_anthology|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="w-100 mt-2 mb-2"></div>
                    <div class="col-1"></div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Orig. Lang:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.language|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Colorized:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.colored|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="w-100 mt-2 mb-2"></div>
                    <div class="col-1"></div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Trans. Lang.:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.translation|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Adult:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.is_adult|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="w-100 mt-2 mb-2"></div>
                    <div class="col-1"></div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">Page Count:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">{{ book.num_pages|default_if_none:"N/A" }}</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">xxx:</h3>
                    </div>
                    <div class="col-2">
                        <h3 class="text-light font-weight-normal text-truncate">yyy</h3>
                    </div>
                </div>
            </div>
        </div>


    <div id="header-extra" class="header-body row mb-2">
        <div class="col-11 my-auto">
            <div class="btn-group btn-group-justified" style="width: 150px;">
                <button type="button" class="btn d-flex align-items-center mr-2" style="border-radius: 90px;">
                    <div class="d-flex flex-row align-items-center">
                        <img src="{{ book.cover_thumb_lg.url }}" style="height: 30px; width: 30px; border-radius: 90px;">
        				<div class="p-1">
							<h6 class="my-auto" style="font-size:12px;">heya</h6>
            				<h6 class="my-auto" style="font-size:12px;">seya</h6>
        				</div>
   			 		</div>
				</button>
            </div>
        </div>
    </div>


    <div class="body-bg container-fluid" style="height: 500px;">
        <div class="row">
        </div>
    </div>



{% endblock %}

{% block jquery %}

{% endblock %}